.results-row {
    .path {
        max-width: 200px;
        text-overflow: ellipsis;
    }
}

.panel .well {
    margin-bottom: 0;
}

.label-as-badge {
    border-radius: 10px;
    padding: 0.4em 0.8em .3em;
}