.diff-table {
    table-layout: fixed;
    thead {
        th:nth-child(1){
            width:10%;
        }
        th:nth-child(2){
            width:30%;
        }
        th:nth-child(3){
            width:30%;
        }
    }
    td {
        overflow:auto;
    }
}
.results-row {
    .path {
        max-width: 200px;
        text-overflow: ellipsis;
    }
}

.panel .well {
    margin-bottom: 0;
}

.label-as-badge {
    border-radius: 10px;
    padding: 0.4em 0.8em .3em;
}

#addPropertyAndValueFilterForm {
    label {
        min-width: 72px;
    }
    legend {
        font-size: 14px;
        font-weight: 700;
        border-bottom: transparent none;
        margin-bottom: 9px;
    }
}

#propertyAndValueFilters {
    button {
        margin-right: 10px;
    }
}
