@import "../_shared";
h1 {
  background: transparent url("http://assets.xperthrsystest.rbidev.ds/latest/LegacyDesktop/Content/Images/Global/Logo.png");
}
#paragraphElement {
  background-color: #664558;
}
ul {
  list-style: disc;
}
